//
// SITE
//


// -------------------------------------------------------------
// # Site layout
// -------------------------------------------------------------

// Use a site wrapper?
// In that case remove width declarations on .row

// .site {
//     width: $site-width;
//     max-width: $site-max-width;
//     @extend .center;
// }

.wrap {
    width: $site-width;
    max-width: $site-max-width;
    @extend .center;
}

.row {
    @include clearfix;
    margin-left: -$gutter;
    margin-right: -$gutter;
}

.box {
    height: 200px;
    background: #fafafa;
    border: 1px solid #eee;
    padding: $gutter;
}
