extends layouts/master

block content

    .wrap
        :markdown
            <h1 class="mt4">Gulp boilerplate</h1>

            A basic boilerplate to start quickly on a static site and deploy to gh-pages. Men nog om avstickaren naturligt mineralvatten. Det jag hade tänkt skriva om idag är en studie där man har jämfört effekten av att inta tre olika källor till 50 gram sockerarter varje dag i två veckor (2).

            De tre källorna i studien var honung, socker och fruktossirap (även kallar High fructose corn syrup eller HFCS-55). Fruktossirap används inte så mycket i Sverige men i USA används det istället för socker i många produkter. Det finns flera olika typer av fruktossirap men den typen som är överlägset vanligast, HFCS-55, innehåller till 55 procent fruktos och ungefär 40 procent glukos tillsammans med några procent längre kedjor av glukos kallat för oligosackarider.

            ## Features

            - Gulp
            - Jade
            - Sass
            - Scss-lint
            - Autoprefixr
            - Browserify
            - BrowserSync
            - JSHint
            - Imagemin
            - Dev/Prod env
            - Reporting
            - Deploy to gh-pages

            ## Installation

            1. cd to project and run `npm install`
            2. Run `gulp` to build and start server on port 3000

            ## Tasks

            1. `gulp` - Default task to build and run server
            2. `gulp prod` - Minify everything to prepare for deploy
            3. `gulp deploy` - Deploy to gh-pages


    .wrap
        .row.grid-bg
            .col-6--sm.col-3--md
                .box
                    p hej
            .col-6--sm.col-3--md
                .box
                    p hej
            .col-6--sm.col-3--md
                .box
                    p hej
            .col-6--sm.col-3--md
                .box
                    p hej
