//
// SETTINGS
//


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Fonts
$sans:                      "Helvetica Neue";
$serif:                     "Georgia";
$mono:                      "Monaco";

// Base
$font-size:                 16px;
$line-height:               1.6;

// Other
$font-size--large:          $font-size + .2;
$font-size--small:          $font-size - .2;
$regular:                   400;
$bold:                      700;
$letter-spacing:            1px;


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

// Site
$site-width:                80%;
$site-max-width:            1140px;

// Grid
$cols: 12;

// Breakpoints
$bp-xs:                     400px;
$bp-sm:                     700px;
$bp-md:                     1000px;
$bp-lg:                     1300px;
$bp-xl:                     1600px;

// Default spacing
$margin:                    $font-size;


// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------

$black:                     #222;
$grey:                      lighten($black, 35%);
$white:                     #fff;

$green:                     green;


// -------------------------------------------------------------
// # Misc
// -------------------------------------------------------------

$radius:                    3px;
