//
// BASE STYLES
//


// -------------------------------------------------------------
// # General
// -------------------------------------------------------------

// Include border and padding in width
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: $base-font-size;
    font-family: $sans;
    font-weight: $base-font-weight;
    line-height: $base-line-height; 
}

.site-wrap {
    width: $site-width;
    max-width: $site-max-width;
    @extend .center;
}


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Block level elements
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-weight: $font-bold;
    margin-top: $base-margin*2;
    margin-bottom: $base-margin;
    line-height: $line-height-small;
}

h1, .h1 {
    font-size: $base-font-size*2.5;
}

h2, .h2 {
    font-size: $base-font-size*2;
}

h3, .h3 {
    font-size: $base-font-size*1.5;
}

h4, .h4 {
    font-size: $base-font-size;
}

h5, .h5 {
    font-size: $base-font-size*0.9;
}

p {
    margin-top: 0;
    margin-bottom: $base-margin;
}

// Inline elements
