//
// Grid
//


// -------------------------------------------------------------
// # The grid
// -------------------------------------------------------------

// Grid calculation for percentages
@function col($n) {
    @return percentage( (( $n * ($columnWidth + $gutterWidth) - $gutterWidth) ) / $gridWidth );
}

// Each column
@mixin column($n) {
    width: col($n);
    margin-left: percentage( $gutterWidth / $gridWidth );
}

// Grid row
.row {
    width: auto;
    max-width: $gridWidth;
    margin-left: -(percentage( $gutterWidth / $gridWidth ));
    margin-bottom: $base-margin;
    @include clearfix;
}

// Generates columns
@for $i from 1 to ($totalColumns + 1) {
    .col-#{$i}{
        @include column($i);
    }
}

// Controls the column float
[class^="col-"] {
    float: left;
    height: 100px;
    background: red;

    .row [class^="col-"] {
        background: blue;
    }
}


// -------------------------------------------------------------
// # Offsets
// -------------------------------------------------------------

// Offset calculation for percentages
@function off($n) {
    @return percentage( (( $n * ($columnWidth + $gutterWidth)) + $gutterWidth ) / $gridWidth );
}

// Each offset
@mixin offset($n) {
    margin-left: off($n);
}

// Generates offsets
@for $i from 1 to ($totalColumns + 1) {
    .offset-#{$i}{
        @include offset($i);
    }
}